/**
 * partials/home
 * ---
 */

.chamadasHome { @include container(); }

.caixasHome {
	position: relative !important;
	@include span(5);

	@include susy-media (max-width 960px) {
		@include span(12 of 12 0);
		margin-bottom: 10px;
	}

	.flamula-home {
		position: absolute;
		top: 20px;
		left: -10px;

		color: #fff;
		padding: 10px 20px;
		font-weight: 600;
		text-transform: uppercase;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	h4 {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px 15px;
		display: block;
		background-color: rgba($laranja, .9);
		margin: 0;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 1.8rem;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a:hover {
		opacity: 1;
	}

	img {
		width: 100%;

		@include susy-media (max-width 960px) {
			height: initial;
			width: 100%;
		}
	}

	.texto {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
 		color: #fff;
		background-color: rgba($laranja, .6);
		padding: 0 20px;
		font-size: 1.6rem;
		letter-spacing: 1px;

		@include susy-media (max-width 960px)  {
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		a {
			color: #fff;
		}
	}
}

#ctaFaleConosco {
	@include span(2);

	img {
		height:276px;
	}

	@include susy-media (max-width 960px) {
		@include span(12 of 12 0);
		margin: auto;
	}
}
