/**
 * partials/pages
 * ---
 */

article {
	@include container();

	h4 {
		color: $laranja;
	}
}

.imagemIlustrativa {
	float: right;
	margin-top: 10px;

	@include susy-media (max-width 960px) {
		display: none;
	}
}

@include susy-media (max-width 960px)  {

	#ffs-tabbed-77{
		width: 100% !important;
		margin-top: 60px;
	}

	.resp-tabs-container {
		width: 100% !important;
	}
}

#categoriasPre {
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin-bottom: 40px;

	li {
		display: inline-block;
		@include span(1 of 4 0);
		margin-bottom: 10px;

		@include susy-media (max-width 960px) {
			@include span(1 of 1);
		}

		a {
			background-color: $laranja;
			display: block;
			color: #fff;
			text-align: center;
			font-size: 1.6rem;
			text-transform: uppercase;
			padding: 15px 0;

			&.catAtual {
				background-color: #333;
				color: #fff;


				&:hover {
					color: #fff;
				}
			}

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
}

#listaProdutosIn {
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin-bottom: 40px;

	li.cadaProdutoIn {
		display: inline-block;
		@include span(1 of 5 0);
		margin-bottom: 10px;

		@include susy-media (max-width 960px) {
			@include span(1 of 1);
		}

		a {
			background-color: $laranja;
			display: block;
			color: #fff;
			text-align: center;
			font-size: 1.6rem;
			text-transform: uppercase;
			padding: 15px 0;

			&.catAtual {
				background-color: #333;
				color: #fff;


				&:hover {
					color: #fff;
				}
			}

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
}

.thumbCtrlFicha, #tituloEtexto {
	@include span(6);
	margin-bottom: 15px;

	@include susy-media (max-width 960px) {
		@include span(12);
	}
}

.thumbCtrlFicha {

	.wp-post-image {
		width: 100%;
	}

	.thumbEcontroles {
		position: relative;
		overflow: hidden;
		height: 250px;
		margin-bottom: 0 !important;

		img {
			// height: 230px;
		}


		.ctrl {
			position: absolute;
			top: 0;
			bottom: 0;
			// background-color: rgba(#fff, .6);
			background-color: red;
			width: 40px;
			z-index: 999;

			a {
				display: block;
				width: $volta-width;
				height: $volta-height;
				background: transparent url($volta-image) $volta-offset-x $volta-offset-y no-repeat;

				margin: auto;
				margin-top: 100px;
				overflow: hidden;
				text-indent: 100%;
			}

			&:last-child a {
				display: block;
				width: $vai-width;
				height: $vai-height;
				background: transparent url($vai-image) $vai-offset-x $vai-offset-y no-repeat;

				overflow: hidden;
				text-indent: 100%;
			}
		}

		.prev, .prevSingle {
			left: 20px;
		}

		.next, .nextSingle {
			right: 20px;
		}
	}

}

.controles {
	position: relative;
	width: 300px;
	height: 100px;
	background-color: red;
}

.fichaTecnica {
	background-color: $cinza;
	color: #fff;
	margin: 2px 0;
	padding: 5px;
	margin: 0;
	text-transform: uppercase;
	overflow: hidden;
}

#tituloEtexto, .metade, #singleObras, .page {

	h1 {
		display: block;
		margin-top: 0;
		text-transform: uppercase;

		border-bottom: solid 1px lighten($cinza, 40);
		margin-bottom: 10px;
		padding-bottom: 10px;

		&:before {
			content: '';
			display: block;
			margin-right: 10px;
			margin-top: 7px;
			width: 15px;
			height: 3rem;
			float: left;
			background-color: $cinza;
		}
	}
}

.caixasObras {
  @include span(6);
  display: block;
  height: 200px;
  margin-bottom: 10px;
  background-size: cover;
  position: relative;

  @include susy-media (max-width 960px) {
    @include span(12 of 12 0);
    margin-bottom: 10px;
  }

  h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    display: block;
    background-color: rgba($laranja, .9);
    color: #fff;
    margin: 0;
  }
}

.metade {
	@include span(6);
	padding-right: 20px;

	@include susy-media (max-width 960px) {
		@include span(12);
	}
}

.pilares {
	@include span(4);
	padding: 0 10px;
	text-align: justify;

	@include susy-media (max-width 960px) {
		@include span(12);
	}

	&:last-child {
		@include suffix(0);
	}

	.botaoGrande {
		margin-left: -15px;
		font-size: 2.5rem;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		line-height: $botao-grande-height;
		text-align: center;
	}
}

span.ffs-icon-container {
	display: none !important;
}

.ffs-sep {
	margin: 0 !important;
	clear: both;
}

.telefoneContato {
	float: left;
	margin-top: -125px;

	h3 {
		font-size: 4rem;
		color: $laranja;
		margin-bottom: 0;

		span {
			font-size: 2rem;
		}
	}

	a {
		color: $laranja;
		margin: 0;
	}
}

.escolhaInstitucional {
	@include container($col);
	height: $item-lateral-height * 3;
	overflow: hidden;
	margin: 40px 0 60px;

	.trabalho {
		// @include span(3 of $col 0);
		width: 221px;
		float: left;
		padding: 0;
		margin: 0;
		text-align: center;

		li {
			list-style: none;

			a {
				display: block;
				line-height: 40px;
				text-align: center;
				color: #fff;
				font-weight: 500;
				text-transform: uppercase;
				text-shadow: 0 1px 3px #000;
				font-size: 1.2rem;

				&:hover {
					background-position: $item-lateral-active-offset-x $item-lateral-active-offset-y;
				}
			}
		}
	}

	.imagemInstitucional {
		// @include span(last 9 of $col 0);
		width: 1250px - 221;
		float: right;
		background: #eee;
		overflow: hidden;
		height: $item-lateral-height * 3 - 25;
		margin-top: 2px;

		img {
			width: 100%;
		}
	}
}

#listaProdutos {
	padding: 0;

	li.cadaProduto {
		list-style: none;
		@include span(6);
		margin-bottom: gutter();

		a {
			display: block;
			background-size: cover;
			color: #fff;
			height: 250px;

			&:hover {
				opacity: 1;

				p {
					height: 220px;
					padding: 10px;
					text-overflow: ellipsis;
				}
			}

			h2 {
				background-color: $laranja;
				display: block;
				width: 100%;
				padding: 0 10px;
				margin: 0;
			}

			p {
				background-color: rgba($laranja, .8);
				margin: 0;

				display: block;
				overflow: hidden;
				height: 0;
				padding: 0 10px;

				transition: height .4s, padding .3s;
			}
		}
	}
}

#listaObras {
	padding: 0;
	overflow: hidden;

	li.cadaObra {
		list-style: none;
		@include span(3 (25% 1%) fluid inside-static rtl);
		margin-bottom: gutter();

		a {
			display: block;
			background-size: cover;
			color: #fff;
			height: 250px;

			&:hover {
				opacity: 1;

				p {
					height: 220px;
					padding: 10px;
					text-overflow: ellipsis;
				}
			}

			h2 {
				background-color: $laranja;
				display: block;
				width: 100%;
				padding: 5px 10px;
				margin: 0;
			}

			p {
				background-color: rgba($laranja, .8);
				margin: 0;

				display: block;
				overflow: hidden;
				height: 0;
				padding: 0 10px;

				transition: height .4s, padding .3s;
			}
		}
	}
}

.cadaProduto {
	@include span (6);

	img {
		width: 100%;
	}
}


// Prêmios e Certificações

.certificacoes {

	h4 {
		font-size: 2.4rem;
		font-weight: 500;
		text-align: center;
		margin-bottom: 0;
	}

	.grupoPremios {
		@include container();

		.cadaPremio {
			@include span(1 of 4);
			text-align: center;

			.contemLogo {
				border: solid 1px $laranja;
				height: 200px;
				padding: 20px;

				white-space: nowrap;
				text-align: center;
				margin: 1em 0;
			}

			.helper {
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
			}

			img {
		    vertical-align: middle;
		    max-height: 200px;
				max-width: 100%;
			}
		}
	}

	.certificacaoMor {
		overflow: hidden;
		margin: 0 2% 50px;

		.logoEtexto {
			@include container();
			border: solid 1px $laranja;

			img {
				@include span(4);
			}

			p {
				@include span(8);
				font-size: 2rem;
			}
		}
	}
}


.boxVan {
	background-color: $laranja;
	color: #fff;
	padding: 10px 10px 10px 60px;
	margin: 10px 0;
	position: relative;
	height: 200px;
	cursor: help;
	transition: height .3s, background-color .5s;

	overflow: hidden;

	&.fechado {
		height: 51px;
		background-color: $cinza;
	}

	.seta {
		position: absolute;
		right: 10px;
		top: 15px;

		&.acroFechado {
			top: 20px;
		}
	}

	.icone {
		float: left;
		margin-left: -40px;
		margin-top: 5px;
	}

	h2 {
		margin-top: 0;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: solid 1px rgba(#fff, .5);
	}
}
