/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$acor1-name: 'acor1';
$acor1-x: 447px;
$acor1-y: 212px;
$acor1-offset-x: -447px;
$acor1-offset-y: -212px;
$acor1-width: 23px;
$acor1-height: 26px;
$acor1-total-width: 534px;
$acor1-total-height: 339px;
$acor1-image: 'sprite.png';
$acor1: (447px, 212px, -447px, -212px, 23px, 26px, 534px, 339px, 'sprite.png', 'acor1', );
$acor10-name: 'acor10';
$acor10-x: 509px;
$acor10-y: 124px;
$acor10-offset-x: -509px;
$acor10-offset-y: -124px;
$acor10-width: 25px;
$acor10-height: 26px;
$acor10-total-width: 534px;
$acor10-total-height: 339px;
$acor10-image: 'sprite.png';
$acor10: (509px, 124px, -509px, -124px, 25px, 26px, 534px, 339px, 'sprite.png', 'acor10', );
$acor2-name: 'acor2';
$acor2-x: 500px;
$acor2-y: 188px;
$acor2-offset-x: -500px;
$acor2-offset-y: -188px;
$acor2-width: 23px;
$acor2-height: 23px;
$acor2-total-width: 534px;
$acor2-total-height: 339px;
$acor2-image: 'sprite.png';
$acor2: (500px, 188px, -500px, -188px, 23px, 23px, 534px, 339px, 'sprite.png', 'acor2', );
$acor3-name: 'acor3';
$acor3-x: 507px;
$acor3-y: 154px;
$acor3-offset-x: -507px;
$acor3-offset-y: -154px;
$acor3-width: 26px;
$acor3-height: 24px;
$acor3-total-width: 534px;
$acor3-total-height: 339px;
$acor3-image: 'sprite.png';
$acor3: (507px, 154px, -507px, -154px, 26px, 24px, 534px, 339px, 'sprite.png', 'acor3', );
$acor4-name: 'acor4';
$acor4-x: 313px;
$acor4-y: 250px;
$acor4-offset-x: -313px;
$acor4-offset-y: -250px;
$acor4-width: 24px;
$acor4-height: 24px;
$acor4-total-width: 534px;
$acor4-total-height: 339px;
$acor4-image: 'sprite.png';
$acor4: (313px, 250px, -313px, -250px, 24px, 24px, 534px, 339px, 'sprite.png', 'acor4', );
$acor5-name: 'acor5';
$acor5-x: 473px;
$acor5-y: 188px;
$acor5-offset-x: -473px;
$acor5-offset-y: -188px;
$acor5-width: 27px;
$acor5-height: 23px;
$acor5-total-width: 534px;
$acor5-total-height: 339px;
$acor5-image: 'sprite.png';
$acor5: (473px, 188px, -473px, -188px, 27px, 23px, 534px, 339px, 'sprite.png', 'acor5', );
$acor6-name: 'acor6';
$acor6-x: 494px;
$acor6-y: 212px;
$acor6-offset-x: -494px;
$acor6-offset-y: -212px;
$acor6-width: 24px;
$acor6-height: 24px;
$acor6-total-width: 534px;
$acor6-total-height: 339px;
$acor6-image: 'sprite.png';
$acor6: (494px, 212px, -494px, -212px, 24px, 24px, 534px, 339px, 'sprite.png', 'acor6', );
$acor7-name: 'acor7';
$acor7-x: 158px;
$acor7-y: 133px;
$acor7-offset-x: -158px;
$acor7-offset-y: -133px;
$acor7-width: 17px;
$acor7-height: 24px;
$acor7-total-width: 534px;
$acor7-total-height: 339px;
$acor7-image: 'sprite.png';
$acor7: (158px, 133px, -158px, -133px, 17px, 24px, 534px, 339px, 'sprite.png', 'acor7', );
$acor8-name: 'acor8';
$acor8-x: 447px;
$acor8-y: 188px;
$acor8-offset-x: -447px;
$acor8-offset-y: -188px;
$acor8-width: 26px;
$acor8-height: 24px;
$acor8-total-width: 534px;
$acor8-total-height: 339px;
$acor8-image: 'sprite.png';
$acor8: (447px, 188px, -447px, -188px, 26px, 24px, 534px, 339px, 'sprite.png', 'acor8', );
$acor9-name: 'acor9';
$acor9-x: 470px;
$acor9-y: 212px;
$acor9-offset-x: -470px;
$acor9-offset-y: -212px;
$acor9-width: 24px;
$acor9-height: 24px;
$acor9-total-width: 534px;
$acor9-total-height: 339px;
$acor9-image: 'sprite.png';
$acor9: (470px, 212px, -470px, -212px, 24px, 24px, 534px, 339px, 'sprite.png', 'acor9', );
$acor-aberto-name: 'acorAberto';
$acor-aberto-x: 367px;
$acor-aberto-y: 250px;
$acor-aberto-offset-x: -367px;
$acor-aberto-offset-y: -250px;
$acor-aberto-width: 30px;
$acor-aberto-height: 15px;
$acor-aberto-total-width: 534px;
$acor-aberto-total-height: 339px;
$acor-aberto-image: 'sprite.png';
$acor-aberto: (367px, 250px, -367px, -250px, 30px, 15px, 534px, 339px, 'sprite.png', 'acorAberto', );
$acro-fechado-name: 'acroFechado';
$acro-fechado-x: 337px;
$acro-fechado-y: 250px;
$acro-fechado-offset-x: -337px;
$acro-fechado-offset-y: -250px;
$acro-fechado-width: 30px;
$acro-fechado-height: 15px;
$acro-fechado-total-width: 534px;
$acro-fechado-total-height: 339px;
$acro-fechado-image: 'sprite.png';
$acro-fechado: (337px, 250px, -337px, -250px, 30px, 15px, 534px, 339px, 'sprite.png', 'acroFechado', );
$botao-grande-name: 'botaoGrande';
$botao-grande-x: 0px;
$botao-grande-y: 0px;
$botao-grande-offset-x: 0px;
$botao-grande-offset-y: 0px;
$botao-grande-width: 313px;
$botao-grande-height: 112px;
$botao-grande-total-width: 534px;
$botao-grande-total-height: 339px;
$botao-grande-image: 'sprite.png';
$botao-grande: (0px, 0px, 0px, 0px, 313px, 112px, 534px, 339px, 'sprite.png', 'botaoGrande', );
$botao-topo-name: 'botaoTopo';
$botao-topo-x: 0px;
$botao-topo-y: 293px;
$botao-topo-offset-x: 0px;
$botao-topo-offset-y: -293px;
$botao-topo-width: 233px;
$botao-topo-height: 46px;
$botao-topo-total-width: 534px;
$botao-topo-total-height: 339px;
$botao-topo-image: 'sprite.png';
$botao-topo: (0px, 293px, 0px, -293px, 233px, 46px, 534px, 339px, 'sprite.png', 'botaoTopo', );
$box-preto-name: 'boxPreto';
$box-preto-x: 0px;
$box-preto-y: 112px;
$box-preto-offset-x: 0px;
$box-preto-offset-y: -112px;
$box-preto-width: 158px;
$box-preto-height: 181px;
$box-preto-total-width: 534px;
$box-preto-total-height: 339px;
$box-preto-image: 'sprite.png';
$box-preto: (0px, 112px, 0px, -112px, 158px, 181px, 534px, 339px, 'sprite.png', 'boxPreto', );
$flamula-home-name: 'flamula-home';
$flamula-home-x: 313px;
$flamula-home-y: 188px;
$flamula-home-offset-x: -313px;
$flamula-home-offset-y: -188px;
$flamula-home-width: 134px;
$flamula-home-height: 62px;
$flamula-home-total-width: 534px;
$flamula-home-total-height: 339px;
$flamula-home-image: 'sprite.png';
$flamula-home: (313px, 188px, -313px, -188px, 134px, 62px, 534px, 339px, 'sprite.png', 'flamula-home', );
$item-laranja1-name: 'itemLaranja1';
$item-laranja1-x: 158px;
$item-laranja1-y: 112px;
$item-laranja1-offset-x: -158px;
$item-laranja1-offset-y: -112px;
$item-laranja1-width: 21px;
$item-laranja1-height: 21px;
$item-laranja1-total-width: 534px;
$item-laranja1-total-height: 339px;
$item-laranja1-image: 'sprite.png';
$item-laranja1: (158px, 112px, -158px, -112px, 21px, 21px, 534px, 339px, 'sprite.png', 'itemLaranja1', );
$item-laranja2-name: 'itemLaranja2';
$item-laranja2-x: 221px;
$item-laranja2-y: 112px;
$item-laranja2-offset-x: -221px;
$item-laranja2-offset-y: -112px;
$item-laranja2-width: 21px;
$item-laranja2-height: 21px;
$item-laranja2-total-width: 534px;
$item-laranja2-total-height: 339px;
$item-laranja2-image: 'sprite.png';
$item-laranja2: (221px, 112px, -221px, -112px, 21px, 21px, 534px, 339px, 'sprite.png', 'itemLaranja2', );
$item-laranja3-name: 'itemLaranja3';
$item-laranja3-x: 179px;
$item-laranja3-y: 112px;
$item-laranja3-offset-x: -179px;
$item-laranja3-offset-y: -112px;
$item-laranja3-width: 21px;
$item-laranja3-height: 21px;
$item-laranja3-total-width: 534px;
$item-laranja3-total-height: 339px;
$item-laranja3-image: 'sprite.png';
$item-laranja3: (179px, 112px, -179px, -112px, 21px, 21px, 534px, 339px, 'sprite.png', 'itemLaranja3', );
$item-laranja4-name: 'itemLaranja4';
$item-laranja4-x: 200px;
$item-laranja4-y: 112px;
$item-laranja4-offset-x: -200px;
$item-laranja4-offset-y: -112px;
$item-laranja4-width: 21px;
$item-laranja4-height: 21px;
$item-laranja4-total-width: 534px;
$item-laranja4-total-height: 339px;
$item-laranja4-image: 'sprite.png';
$item-laranja4: (200px, 112px, -200px, -112px, 21px, 21px, 534px, 339px, 'sprite.png', 'itemLaranja4', );
$item-lateral-name: 'itemLateral';
$item-lateral-x: 313px;
$item-lateral-y: 0px;
$item-lateral-offset-x: -313px;
$item-lateral-offset-y: 0px;
$item-lateral-width: 221px;
$item-lateral-height: 62px;
$item-lateral-total-width: 534px;
$item-lateral-total-height: 339px;
$item-lateral-image: 'sprite.png';
$item-lateral: (313px, 0px, -313px, 0px, 221px, 62px, 534px, 339px, 'sprite.png', 'itemLateral', );
$item-lateral-active-name: 'itemLateralActive';
$item-lateral-active-x: 313px;
$item-lateral-active-y: 62px;
$item-lateral-active-offset-x: -313px;
$item-lateral-active-offset-y: -62px;
$item-lateral-active-width: 221px;
$item-lateral-active-height: 62px;
$item-lateral-active-total-width: 534px;
$item-lateral-active-total-height: 339px;
$item-lateral-active-image: 'sprite.png';
$item-lateral-active: (313px, 62px, -313px, -62px, 221px, 62px, 534px, 339px, 'sprite.png', 'itemLateralActive', );
$menu1-name: 'menu1';
$menu1-x: 449px;
$menu1-y: 154px;
$menu1-offset-x: -449px;
$menu1-offset-y: -154px;
$menu1-width: 29px;
$menu1-height: 29px;
$menu1-total-width: 534px;
$menu1-total-height: 339px;
$menu1-image: 'sprite.png';
$menu1: (449px, 154px, -449px, -154px, 29px, 29px, 534px, 339px, 'sprite.png', 'menu1', );
$menu2-name: 'menu2';
$menu2-x: 478px;
$menu2-y: 154px;
$menu2-offset-x: -478px;
$menu2-offset-y: -154px;
$menu2-width: 29px;
$menu2-height: 29px;
$menu2-total-width: 534px;
$menu2-total-height: 339px;
$menu2-image: 'sprite.png';
$menu2: (478px, 154px, -478px, -154px, 29px, 29px, 534px, 339px, 'sprite.png', 'menu2', );
$menu3-name: 'menu3';
$menu3-x: 449px;
$menu3-y: 124px;
$menu3-offset-x: -449px;
$menu3-offset-y: -124px;
$menu3-width: 30px;
$menu3-height: 30px;
$menu3-total-width: 534px;
$menu3-total-height: 339px;
$menu3-image: 'sprite.png';
$menu3: (449px, 124px, -449px, -124px, 30px, 30px, 534px, 339px, 'sprite.png', 'menu3', );
$menu4-name: 'menu4';
$menu4-x: 479px;
$menu4-y: 124px;
$menu4-offset-x: -479px;
$menu4-offset-y: -124px;
$menu4-width: 30px;
$menu4-height: 30px;
$menu4-total-width: 534px;
$menu4-total-height: 339px;
$menu4-image: 'sprite.png';
$menu4: (479px, 124px, -479px, -124px, 30px, 30px, 534px, 339px, 'sprite.png', 'menu4', );
$setinha-direita-name: 'setinhaDireita';
$setinha-direita-x: 523px;
$setinha-direita-y: 188px;
$setinha-direita-offset-x: -523px;
$setinha-direita-offset-y: -188px;
$setinha-direita-width: 11px;
$setinha-direita-height: 11px;
$setinha-direita-total-width: 534px;
$setinha-direita-total-height: 339px;
$setinha-direita-image: 'sprite.png';
$setinha-direita: (523px, 188px, -523px, -188px, 11px, 11px, 534px, 339px, 'sprite.png', 'setinhaDireita', );
$siglas-name: 'siglas';
$siglas-x: 313px;
$siglas-y: 124px;
$siglas-offset-x: -313px;
$siglas-offset-y: -124px;
$siglas-width: 136px;
$siglas-height: 64px;
$siglas-total-width: 534px;
$siglas-total-height: 339px;
$siglas-image: 'sprite.png';
$siglas: (313px, 124px, -313px, -124px, 136px, 64px, 534px, 339px, 'sprite.png', 'siglas', );
$vai-name: 'vai';
$vai-x: 158px;
$vai-y: 157px;
$vai-offset-x: -158px;
$vai-offset-y: -157px;
$vai-width: 13px;
$vai-height: 26px;
$vai-total-width: 534px;
$vai-total-height: 339px;
$vai-image: 'sprite.png';
$vai: (158px, 157px, -158px, -157px, 13px, 26px, 534px, 339px, 'sprite.png', 'vai', );
$volta-name: 'volta';
$volta-x: 171px;
$volta-y: 157px;
$volta-offset-x: -171px;
$volta-offset-y: -157px;
$volta-width: 13px;
$volta-height: 26px;
$volta-total-width: 534px;
$volta-total-height: 339px;
$volta-image: 'sprite.png';
$volta: (171px, 157px, -171px, -157px, 13px, 26px, 534px, 339px, 'sprite.png', 'volta', );
$spritesheet-width: 534px;
$spritesheet-height: 339px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($acor1, $acor10, $acor2, $acor3, $acor4, $acor5, $acor6, $acor7, $acor8, $acor9, $acor-aberto, $acro-fechado, $botao-grande, $botao-topo, $box-preto, $flamula-home, $item-laranja1, $item-laranja2, $item-laranja3, $item-laranja4, $item-lateral, $item-lateral-active, $menu1, $menu2, $menu3, $menu4, $setinha-direita, $siglas, $vai, $volta, );
$spritesheet: (534px, 339px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
