/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$acor1-name: 'acor1';
$acor1-x: 315px;
$acor1-y: 258px;
$acor1-offset-x: -315px;
$acor1-offset-y: -258px;
$acor1-width: 23px;
$acor1-height: 26px;
$acor1-total-width: 536px;
$acor1-total-height: 343px;
$acor1-image: 'sprite.png';
$acor1: (315px, 258px, -315px, -258px, 23px, 26px, 536px, 343px, 'sprite.png', 'acor1', );
$acor10-name: 'acor10';
$acor10-x: 451px;
$acor10-y: 194px;
$acor10-offset-x: -451px;
$acor10-offset-y: -194px;
$acor10-width: 25px;
$acor10-height: 26px;
$acor10-total-width: 536px;
$acor10-total-height: 343px;
$acor10-image: 'sprite.png';
$acor10: (451px, 194px, -451px, -194px, 25px, 26px, 536px, 343px, 'sprite.png', 'acor10', );
$acor2-name: 'acor2';
$acor2-x: 480px;
$acor2-y: 222px;
$acor2-offset-x: -480px;
$acor2-offset-y: -222px;
$acor2-width: 23px;
$acor2-height: 23px;
$acor2-total-width: 536px;
$acor2-total-height: 343px;
$acor2-image: 'sprite.png';
$acor2: (480px, 222px, -480px, -222px, 23px, 23px, 536px, 343px, 'sprite.png', 'acor2', );
$acor3-name: 'acor3';
$acor3-x: 478px;
$acor3-y: 194px;
$acor3-offset-x: -478px;
$acor3-offset-y: -194px;
$acor3-width: 26px;
$acor3-height: 24px;
$acor3-total-width: 536px;
$acor3-total-height: 343px;
$acor3-image: 'sprite.png';
$acor3: (478px, 194px, -478px, -194px, 26px, 24px, 536px, 343px, 'sprite.png', 'acor3', );
$acor4-name: 'acor4';
$acor4-x: 392px;
$acor4-y: 258px;
$acor4-offset-x: -392px;
$acor4-offset-y: -258px;
$acor4-width: 24px;
$acor4-height: 24px;
$acor4-total-width: 536px;
$acor4-total-height: 343px;
$acor4-image: 'sprite.png';
$acor4: (392px, 258px, -392px, -258px, 24px, 24px, 536px, 343px, 'sprite.png', 'acor4', );
$acor5-name: 'acor5';
$acor5-x: 451px;
$acor5-y: 222px;
$acor5-offset-x: -451px;
$acor5-offset-y: -222px;
$acor5-width: 27px;
$acor5-height: 23px;
$acor5-total-width: 536px;
$acor5-total-height: 343px;
$acor5-image: 'sprite.png';
$acor5: (451px, 222px, -451px, -222px, 27px, 23px, 536px, 343px, 'sprite.png', 'acor5', );
$acor6-name: 'acor6';
$acor6-x: 366px;
$acor6-y: 258px;
$acor6-offset-x: -366px;
$acor6-offset-y: -258px;
$acor6-width: 24px;
$acor6-height: 24px;
$acor6-total-width: 536px;
$acor6-total-height: 343px;
$acor6-image: 'sprite.png';
$acor6: (366px, 258px, -366px, -258px, 24px, 24px, 536px, 343px, 'sprite.png', 'acor6', );
$acor7-name: 'acor7';
$acor7-x: 517px;
$acor7-y: 128px;
$acor7-offset-x: -517px;
$acor7-offset-y: -128px;
$acor7-width: 17px;
$acor7-height: 24px;
$acor7-total-width: 536px;
$acor7-total-height: 343px;
$acor7-image: 'sprite.png';
$acor7: (517px, 128px, -517px, -128px, 17px, 24px, 536px, 343px, 'sprite.png', 'acor7', );
$acor8-name: 'acor8';
$acor8-x: 506px;
$acor8-y: 194px;
$acor8-offset-x: -506px;
$acor8-offset-y: -194px;
$acor8-width: 26px;
$acor8-height: 24px;
$acor8-total-width: 536px;
$acor8-total-height: 343px;
$acor8-image: 'sprite.png';
$acor8: (506px, 194px, -506px, -194px, 26px, 24px, 536px, 343px, 'sprite.png', 'acor8', );
$acor9-name: 'acor9';
$acor9-x: 340px;
$acor9-y: 258px;
$acor9-offset-x: -340px;
$acor9-offset-y: -258px;
$acor9-width: 24px;
$acor9-height: 24px;
$acor9-total-width: 536px;
$acor9-total-height: 343px;
$acor9-image: 'sprite.png';
$acor9: (340px, 258px, -340px, -258px, 24px, 24px, 536px, 343px, 'sprite.png', 'acor9', );
$acor-aberto-name: 'acorAberto';
$acor-aberto-x: 418px;
$acor-aberto-y: 258px;
$acor-aberto-offset-x: -418px;
$acor-aberto-offset-y: -258px;
$acor-aberto-width: 30px;
$acor-aberto-height: 15px;
$acor-aberto-total-width: 536px;
$acor-aberto-total-height: 343px;
$acor-aberto-image: 'sprite.png';
$acor-aberto: (418px, 258px, -418px, -258px, 30px, 15px, 536px, 343px, 'sprite.png', 'acorAberto', );
$acro-fechado-name: 'acroFechado';
$acro-fechado-x: 505px;
$acro-fechado-y: 222px;
$acro-fechado-offset-x: -505px;
$acro-fechado-offset-y: -222px;
$acro-fechado-width: 30px;
$acro-fechado-height: 15px;
$acro-fechado-total-width: 536px;
$acro-fechado-total-height: 343px;
$acro-fechado-image: 'sprite.png';
$acro-fechado: (505px, 222px, -505px, -222px, 30px, 15px, 536px, 343px, 'sprite.png', 'acroFechado', );
$botao-grande-name: 'botaoGrande';
$botao-grande-x: 0px;
$botao-grande-y: 0px;
$botao-grande-offset-x: 0px;
$botao-grande-offset-y: 0px;
$botao-grande-width: 313px;
$botao-grande-height: 112px;
$botao-grande-total-width: 536px;
$botao-grande-total-height: 343px;
$botao-grande-image: 'sprite.png';
$botao-grande: (0px, 0px, 0px, 0px, 313px, 112px, 536px, 343px, 'sprite.png', 'botaoGrande', );
$botao-topo-name: 'botaoTopo';
$botao-topo-x: 0px;
$botao-topo-y: 297px;
$botao-topo-offset-x: 0px;
$botao-topo-offset-y: -297px;
$botao-topo-width: 233px;
$botao-topo-height: 46px;
$botao-topo-total-width: 536px;
$botao-topo-total-height: 343px;
$botao-topo-image: 'sprite.png';
$botao-topo: (0px, 297px, 0px, -297px, 233px, 46px, 536px, 343px, 'sprite.png', 'botaoTopo', );
$box-preto-name: 'boxPreto';
$box-preto-x: 0px;
$box-preto-y: 114px;
$box-preto-offset-x: 0px;
$box-preto-offset-y: -114px;
$box-preto-width: 158px;
$box-preto-height: 181px;
$box-preto-total-width: 536px;
$box-preto-total-height: 343px;
$box-preto-image: 'sprite.png';
$box-preto: (0px, 114px, 0px, -114px, 158px, 181px, 536px, 343px, 'sprite.png', 'boxPreto', );
$flamula-home-name: 'flamula-home';
$flamula-home-x: 315px;
$flamula-home-y: 194px;
$flamula-home-offset-x: -315px;
$flamula-home-offset-y: -194px;
$flamula-home-width: 134px;
$flamula-home-height: 62px;
$flamula-home-total-width: 536px;
$flamula-home-total-height: 343px;
$flamula-home-image: 'sprite.png';
$flamula-home: (315px, 194px, -315px, -194px, 134px, 62px, 536px, 343px, 'sprite.png', 'flamula-home', );
$item-laranja1-name: 'itemLaranja1';
$item-laranja1-x: 515px;
$item-laranja1-y: 160px;
$item-laranja1-offset-x: -515px;
$item-laranja1-offset-y: -160px;
$item-laranja1-width: 21px;
$item-laranja1-height: 21px;
$item-laranja1-total-width: 536px;
$item-laranja1-total-height: 343px;
$item-laranja1-image: 'sprite.png';
$item-laranja1: (515px, 160px, -515px, -160px, 21px, 21px, 536px, 343px, 'sprite.png', 'itemLaranja1', );
$item-laranja2-name: 'itemLaranja2';
$item-laranja2-x: 206px;
$item-laranja2-y: 114px;
$item-laranja2-offset-x: -206px;
$item-laranja2-offset-y: -114px;
$item-laranja2-width: 21px;
$item-laranja2-height: 21px;
$item-laranja2-total-width: 536px;
$item-laranja2-total-height: 343px;
$item-laranja2-image: 'sprite.png';
$item-laranja2: (206px, 114px, -206px, -114px, 21px, 21px, 536px, 343px, 'sprite.png', 'itemLaranja2', );
$item-laranja3-name: 'itemLaranja3';
$item-laranja3-x: 160px;
$item-laranja3-y: 114px;
$item-laranja3-offset-x: -160px;
$item-laranja3-offset-y: -114px;
$item-laranja3-width: 21px;
$item-laranja3-height: 21px;
$item-laranja3-total-width: 536px;
$item-laranja3-total-height: 343px;
$item-laranja3-image: 'sprite.png';
$item-laranja3: (160px, 114px, -160px, -114px, 21px, 21px, 536px, 343px, 'sprite.png', 'itemLaranja3', );
$item-laranja4-name: 'itemLaranja4';
$item-laranja4-x: 183px;
$item-laranja4-y: 114px;
$item-laranja4-offset-x: -183px;
$item-laranja4-offset-y: -114px;
$item-laranja4-width: 21px;
$item-laranja4-height: 21px;
$item-laranja4-total-width: 536px;
$item-laranja4-total-height: 343px;
$item-laranja4-image: 'sprite.png';
$item-laranja4: (183px, 114px, -183px, -114px, 21px, 21px, 536px, 343px, 'sprite.png', 'itemLaranja4', );
$item-lateral-name: 'itemLateral';
$item-lateral-x: 315px;
$item-lateral-y: 0px;
$item-lateral-offset-x: -315px;
$item-lateral-offset-y: 0px;
$item-lateral-width: 221px;
$item-lateral-height: 62px;
$item-lateral-total-width: 536px;
$item-lateral-total-height: 343px;
$item-lateral-image: 'sprite.png';
$item-lateral: (315px, 0px, -315px, 0px, 221px, 62px, 536px, 343px, 'sprite.png', 'itemLateral', );
$item-lateral-active-name: 'itemLateralActive';
$item-lateral-active-x: 315px;
$item-lateral-active-y: 64px;
$item-lateral-active-offset-x: -315px;
$item-lateral-active-offset-y: -64px;
$item-lateral-active-width: 221px;
$item-lateral-active-height: 62px;
$item-lateral-active-total-width: 536px;
$item-lateral-active-total-height: 343px;
$item-lateral-active-image: 'sprite.png';
$item-lateral-active: (315px, 64px, -315px, -64px, 221px, 62px, 536px, 343px, 'sprite.png', 'itemLateralActive', );
$menu1-name: 'menu1';
$menu1-x: 453px;
$menu1-y: 160px;
$menu1-offset-x: -453px;
$menu1-offset-y: -160px;
$menu1-width: 29px;
$menu1-height: 29px;
$menu1-total-width: 536px;
$menu1-total-height: 343px;
$menu1-image: 'sprite.png';
$menu1: (453px, 160px, -453px, -160px, 29px, 29px, 536px, 343px, 'sprite.png', 'menu1', );
$menu2-name: 'menu2';
$menu2-x: 484px;
$menu2-y: 160px;
$menu2-offset-x: -484px;
$menu2-offset-y: -160px;
$menu2-width: 29px;
$menu2-height: 29px;
$menu2-total-width: 536px;
$menu2-total-height: 343px;
$menu2-image: 'sprite.png';
$menu2: (484px, 160px, -484px, -160px, 29px, 29px, 536px, 343px, 'sprite.png', 'menu2', );
$menu3-name: 'menu3';
$menu3-x: 453px;
$menu3-y: 128px;
$menu3-offset-x: -453px;
$menu3-offset-y: -128px;
$menu3-width: 30px;
$menu3-height: 30px;
$menu3-total-width: 536px;
$menu3-total-height: 343px;
$menu3-image: 'sprite.png';
$menu3: (453px, 128px, -453px, -128px, 30px, 30px, 536px, 343px, 'sprite.png', 'menu3', );
$menu4-name: 'menu4';
$menu4-x: 485px;
$menu4-y: 128px;
$menu4-offset-x: -485px;
$menu4-offset-y: -128px;
$menu4-width: 30px;
$menu4-height: 30px;
$menu4-total-width: 536px;
$menu4-total-height: 343px;
$menu4-image: 'sprite.png';
$menu4: (485px, 128px, -485px, -128px, 30px, 30px, 536px, 343px, 'sprite.png', 'menu4', );
$setinha-direita-name: 'setinhaDireita';
$setinha-direita-x: 450px;
$setinha-direita-y: 258px;
$setinha-direita-offset-x: -450px;
$setinha-direita-offset-y: -258px;
$setinha-direita-width: 11px;
$setinha-direita-height: 11px;
$setinha-direita-total-width: 536px;
$setinha-direita-total-height: 343px;
$setinha-direita-image: 'sprite.png';
$setinha-direita: (450px, 258px, -450px, -258px, 11px, 11px, 536px, 343px, 'sprite.png', 'setinhaDireita', );
$siglas-name: 'siglas';
$siglas-x: 315px;
$siglas-y: 128px;
$siglas-offset-x: -315px;
$siglas-offset-y: -128px;
$siglas-width: 136px;
$siglas-height: 64px;
$siglas-total-width: 536px;
$siglas-total-height: 343px;
$siglas-image: 'sprite.png';
$siglas: (315px, 128px, -315px, -128px, 136px, 64px, 536px, 343px, 'sprite.png', 'siglas', );
$vai-name: 'vai';
$vai-x: 160px;
$vai-y: 137px;
$vai-offset-x: -160px;
$vai-offset-y: -137px;
$vai-width: 13px;
$vai-height: 26px;
$vai-total-width: 536px;
$vai-total-height: 343px;
$vai-image: 'sprite.png';
$vai: (160px, 137px, -160px, -137px, 13px, 26px, 536px, 343px, 'sprite.png', 'vai', );
$volta-name: 'volta';
$volta-x: 175px;
$volta-y: 137px;
$volta-offset-x: -175px;
$volta-offset-y: -137px;
$volta-width: 13px;
$volta-height: 26px;
$volta-total-width: 536px;
$volta-total-height: 343px;
$volta-image: 'sprite.png';
$volta: (175px, 137px, -175px, -137px, 13px, 26px, 536px, 343px, 'sprite.png', 'volta', );
$spritesheet-width: 536px;
$spritesheet-height: 343px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($acor1, $acor10, $acor2, $acor3, $acor4, $acor5, $acor6, $acor7, $acor8, $acor9, $acor-aberto, $acro-fechado, $botao-grande, $botao-topo, $box-preto, $flamula-home, $item-laranja1, $item-laranja2, $item-laranja3, $item-laranja4, $item-lateral, $item-lateral-active, $menu1, $menu2, $menu3, $menu4, $setinha-direita, $siglas, $vai, $volta, );
$spritesheet: (536px, 343px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
